@{
    ViewBag.Title = "For Firefighters";
}

<div class="row">
    <div class="col-xs-12">
        <div id="map-instructions">Select a marker to view details about each incident.</div>
        <div id="map-canvas" class="span12">
            <div id="pre-map-loading">Loading...</div>
        </div>
        <div id="map-data-loading">Loading...</div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var ContentPath = '@(Url.Content("~/"))';
        var GoogleMapsKey = '@(AppSettings.GoogleMapsKey)';
        var IncidentsServiceUrl = '@(AppSettings.IncidentsServiceUrl)';
        var DefaultLatitude = @(DefaultValues.Latitude);
        var DefaultLongitude = @(DefaultValues.Longitude);
    </script>
    <script src="@Url.Content("~/Scripts/fire.js")"></script>
}